#pagetitle {
	color:orangered;	
	font-size: 200px;
	text-align: center;
}
.drawing {
	color:blue;	
	text-align:center;
	padding:20px;
	border:20px solid blue;
	width: auto;  
	height: auto;  
}

.drawing a:hover {
	color:yellow;	 
}

