#pagetitle {
	color:orangered;	
	font-size: xx-large;
	text-align: center;
}
.drawing {
	color:blue;	
	text-align:center;
	padding:20px;
	border:20px blue;
	width: auto;  
	height: auto;  
}

link:hover {
	color:rgb(57, 42, 174);	 
}

