#pagetitle {
	color:orangered;	
	font-size: large;
	text-align: center;
}
.drawing {
	color:blue;	
	text-align:center;
	padding:20px;
	width: auto;  
	height: auto;  
}

link:hover {
	color:rgb(51, 174, 42);	 
}

